.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.version {
  color: lightgray;
  font-size: .8em;
}

a {
  color: lightgray;
  text-decoration: none;
}
